.FindMeContainer {
    width: fit-content;
    height: auto;
    position: relative;
    z-index: 9;
}

.FindMeContainer>i {
    margin: 1rem;
    font-size: 8rem;
    cursor: pointer;
    color: aliceblue;
    transition: color .1s ease-in-out;
}

.FindMeContainer>i:hover {
    color: aqua;
}